<div class='container'>

  <h3>Foods currently logged:</h3>
  <button *ngIf="addFoodButton" (click)="showAddFoodForm()" class='btn btn-primary'>Add Food</button>
  <button *ngIf="hideAddFoodFormButton" (click)="hideForm()" class='btn btn-primary'>Hide form</button>

  <div *ngIf='hideAddFoodFormButton'>
    <br>
    <div class='form-group'>
      <label>Food name: </label>
      <input #newName>
    </div>
    <div class='form-group'>
      <label>Calories: </label>
      <input #newCalories>
    </div>
    <div class='form-group'>
      <label>Details: </label>
      <br>
      <textarea #newDetails></textarea>
    </div>
    <button (click)="submitNewFoodForm(newName.value, newCalories.value, newDetails.value); newName.value=''; newCalories.value=''; newDetails.value='';hideForm()">Add Food</button>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <div class='row'>
        <div class='col-md-8'>
          <form>
            <label>Filter foods by calories: </label>
            <select #filterOperand [(ngModel)]='operand' [ngModelOptions]='{standalone:true}'>
              <option></option>
              <option value='greaterThan'>Greater than or equal to: </option>
              <option value='lessThan'>Less than or equal to: </option>
            </select>
            <input #calorie type='number' min='0' [(ngModel)]="calories" [ngModelOptions]='{standalone: true}'/>
          </form>
        </div>
      </div>
      <div class='row food-labels'>
        <div class='col-md-2'>
          Food Name
        </div>
        <div class='col-md-2'>
          Calories
        </div>
        <div class='col-md-8'>
          Details
        </div>
      </div>
      <div *ngFor="let food of foods | async | calorieSort:calories:operand">
        <div class='row food-row'>
          <div class='col-md-2 food-name'>
            {{food.name}}
          </div>
          <div class='col-md-2 food-calories'>
            {{food.calories}}
          </div>
          <div class='col-md-8 food-details'>
            {{food.details}}
          </div>
          <br><br><br>
          <div>
            <app-edit-food [selectedFood]='food'></app-edit-food>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
