<div class='container'>

  <h3>Foods currently logged:</h3>

    <div *ngFor="let food of foods | async">
      <p>
        {{food.name}}, {{food.calories}}, {{food.details}}

      </p>
      <app-edit-food [selectedFood]='food'></app-edit-food>
    </div>

  <button *ngIf='hideEditFoodButton' (click)='cancelEdit()'>Cancel</button>

  <button *ngIf="addFoodButton" (click)="showAddFoodForm()" class='btn btn-primary'>Add Food</button>
  <button *ngIf="hideAddFoodFormButton" (click)="hideForm()" class='btn btn-primary'>Hide form</button>

  <div *ngIf='hideAddFoodFormButton'>
    <br>
    <div class='form-group'>
      <label>Food name: </label>
      <input #newName>
    </div>
    <div class='form-group'>
      <label>Calories: </label>
      <input #newCalories>
    </div>
    <div class='form-group'>
      <label>Details: </label>
      <br>
      <textarea #newDetails></textarea>
    </div>
    <button (click)="submitNewFoodForm(newName.value, newCalories.value, newDetails.value); newName.value=''; newCalories.value=''; newDetails.value='';hideForm()">Add Food</button>
  </div>
</div>
